target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/hs_err_pid8440.log
/hs_err_pid14220.log
/hs_err_pid18136.log
src/main/resources/mapper/
src/main/resources/templates/
/replay_pid8440.log
/replay_pid14220.log
/replay_pid18136.log
/logs/error.log
